<!DOCTYPE html>
<html>
<head>
  <title>Deezify</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="header">
  <h1>Gestion de chatbot </h1>
</div>

<div class="topnav">
  <a href="./", class = "link" >Afficher les chatbots</a>
  <a href="./add", class = "link">Ajouter un chatbot</a>
  <a href="#">Modifier / supprimer un chatbot </a> 
</div>
</body>