<!DOCTYPE html>
<html>
<head>
  <title>Services Web</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div class="header">
    <h1>Ajout d'un chatbot </h1>
  </div>
  
  <div class="topnav">
    <a href="./" class = "link" >Afficher les chatbots</a>
    <a href="./add" class = "link" >Ajouter un chatbot</a>
    <a href="./change" class = "link"  >Modifier / supprimer un chatbot </a> 
  </div>

  <div class = column>
    <div class="card">
      <form action="/bot",method="POST", name = "addbot" >
        
        <div class = input>
          <label> Nom du bot : </label>
          <input type = "text" , name = "name", required>
        </div>

        <div class = input>
          <label> Cerveau(x) utilisé(s) : </label>
          <p> Ctrl + click pour sélectionner plusieurs cerveaux <p>
          <select name="brain" id="brain" required multiple ></select>
        </div>

        <div class = input>
          <label> Port de connexion : </label>
          <input type = "text" , name = "port", required>
        </div>

        <div class = input>
        <input type="submit" value="Ajouter le nouveau ChatBot" formmethod="POST">
        </div>

        <div class = input>
        <input type="hidden", name="error",id="error", value=error, disabled>
        </div>

        <a href="./", class="link"> Retour </a> 

      </form>
    </div>
  </div>
</body>

  <script src="brain.js"></script>
  <script src="host.js"></script>
 
  <script>
    //On va aller chercher dans le fichier brain.js le chemin des cerveaux ainsi que leurs nom pour pouvoir les afficher dans la liste déroulante
    window.onload = function(){
      for (var i=0; i<Brain.length; i++) {
          ajout(Brain[i]["name"],Brain[i]["brain"])
      };

      if( document.getElementById("error").value != ""){
        alert("Le port demandé est déjà utilisé");
    };
    }
    //Fonction qui va permettre d'ajouter dans la liste déroulante les cerveaux ne tant que nouvelle option
    function ajout(value,nom){
      document.forms.addbot.brain.options[document.forms.addbot.brain.options.length]=new Option(value,nom);
  };
  </script>

  
  

