<!DOCTYPE html>
<html>
<head>
  <title>Services Web</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="header">
  <h1>Discussion avec un chatbot </h1>
</div>

<div class="topnav">
  <a href="http://localhost:3000/user", class = "link" >Revenir aux chatbots</a>
</div>
<main>
<div class = "discussion">

  <div class = chat>
    <ul> <!-- Ici on va récupérer les messages fournis dans la requête pour construire l'affichage-->
      <% list.forEach(function(dataMessage) { %> <!-- Pour chaque élément dans la liste fournie -->
        <div class=human> <%= dataMessage.message %></div> <!-- On affiche le message envoyé par l'humain-->
        <div class=bot> <%= dataMessage.reponse %></div> <!-- On affiche la réponse du chatbot-->
        <% }); %>
      </ul>
  </div>
    
<form class= "zdt" action="/chat" method="POST"> 
    <input type = "text"  name="message" />
    <input type="submit"/>    
</form>

</div>
</main>
</body>


