<!DOCTYPE html>
<html>
<head>
  <title>Services Web</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="header">
  <h1>Discussion avec un chatbot </h1>
</div>

<div class="topnav">
  <a href="http://localhost:3000/user", class = "link" >Revenir aux chatbots</a>
</div>
<main>
<div class = "discussion">

  <div>
    <ul>
      <% list.forEach(function(dataMessage) { %>
        <li> <%= "Bot : "+  dataMessage.message %></li>
        <li> <%= "Utilisateur : " + dataMessage.reponse %></li>
        <% }); %>
      </ul>
    </div>
    
<form action="/chat" method="POST"> 
    <input type = "text"  name="message" />
    <input type="submit"/>    
</form>

</div>
</main>
</body>


