<!DOCTYPE html>
<html>
<head>
  <title>Services Web</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="header">
  <h1>Discussion avec un chatbot </h1>
</div>

<div class="topnav">
  <a href="http://localhost:3000/user", class = "link" >Revenir aux chatbots</a>
</div>

<div id = liste>

</div>

</body>


