<!DOCTYPE html>
<html>
<head>
  <title>Services Web</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="header">
  <h1>Selection d'un chatbot </h1>
</div>

<div class="topnav">
  <a href="./user", class = "link" >Revenir aux chatbots</a>
</div>

<div id = liste>

</div>



</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>


<script>
  //Fonction qui va ajouter les bots au chargement dans des cartes différentes
  function addBotCard(data,j){
    card = document.createElement("div")
    card.className = 'card';

    div1 = document.createElement("div");
    div1.className = 'customdiv';
    idlabel = document.createElement("label");
    idlabel.innerHTML = "Id : "+ data[j].id;
    id = document.createElement("label");
    id.setAttribute("id", "id" + j);
    div1.appendChild(idlabel)
    div1.appendChild(id)
    card.appendChild(div1);

    
    div2 = document.createElement("div");
    div2.className = 'customdiv';
    namelabel = document.createElement("label");
    namelabel.innerHTML = "Name : "+data[j].name;
    botname = document.createElement("label");
    botname.setAttribute("id", "nom" + j);
    div2.appendChild(namelabel)
    div2.appendChild(botname)
    card.appendChild(div2);


    div3 = document.createElement("div");
    div3.className = 'customdiv';
    brainlabel = document.createElement("label");
    brainlabel.innerHTML = "Brains : "+data[j].brain;
    brains = document.createElement("label");
    brains.setAttribute("id", "cerveau" + j);
    div3.appendChild(brainlabel)
    div3.appendChild(brains)
    card.appendChild(div3);


    div4 = document.createElement("div");
    div4.className = 'customdiv';
    portlabel = document.createElement("label");
    portlabel.innerHTML = "Port :"+data[j].port;
    port = document.createElement("label");
    port.setAttribute("id", "port" + j);
    div4.appendChild(portlabel)
    div4.appendChild(port)
    card.appendChild(div4);

    but1 = document.createElement("button");
    but1.addEventListener ("click", function() { //Lorsqu'on clique sur le bouton dans la carte, on va être redirigé vers la page du bot
     console.log("J'AI CLICK SUR LE BOT "+data[j].port);
     console.log("http://localhost:"+data[j].port+"/chat");
     window.location = "http://localhost:"+data[j].port+"/chat"; 
    });
    but1.setAttribute("id", "button" + j);
    BUT1 = document.createTextNode('Se connecter à ce bot');
    but1.appendChild(BUT1);
    card.appendChild(but1);

    document.getElementById("liste").appendChild(card);

  }

</script>
  

<script>
  //Lors du chargement de la page on va aller récupérer les données sur une autre page pour les charger, ici on récupère tout les bots et leurs informations
  window.onload = function(){
      $.ajax({type: 'GET',url: '/bot',success: (data) => {
            for (var j = 0; j <data.length ; j++){
              addBotCard(data,j);           
            }
          }
        })
      }

</script>