<!DOCTYPE html>
<html>
<head>
  <title>Services Web</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="header">
  <h1>Selection d'un chatbot </h1>
</div>

<div class="topnav">
  <a href="./user", class = "link" >Revenir aux chatbots</a>
</div>

<div id = liste>

</div>



</body>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>


<script>
  function addbotcard(j){
    card = document.createElement("div")
    card.className = 'card';

    td1 = document.createElement("td");
    td1.setAttribute("id", "id" + j);
    card.appendChild(td1);

    td2 = document.createElement("td");
    td2.setAttribute("id", "nom" + j);
    card.appendChild(td2);

    td3 = document.createElement("td");
    td3.setAttribute("id", "cerveau" + j);
    card.appendChild(td3);

    td4 = document.createElement("td");
    td4.setAttribute("id", "port" + j);
    card.appendChild(td4);

    td4 = document.createElement("td");
    td4.setAttribute("id", "port" + j);
    card.appendChild(td4);

    but1 = document.createElement("button");
    but1.addEventListener ("click", function() {
     console.log("J'AI CLICK SUR LE BOT "+j);
    });
    but1.setAttribute("id", "button" + j);
    BUT1 = document.createTextNode('Se connecter à ce bot');
    but1.appendChild(BUT1);
    card.appendChild(but1);

    document.getElementById("liste").appendChild(card);

  }

</script>
  

<script>

  window.onload = function(){
      $.ajax({
          type: 'GET',
          url: '/bot',
          success: (data) => {
            for (var j = 0; j <data.length ; j++){
              addbotcard(j);
              console.log(data[j].id);
              document.getElementById("id" + j).innerHTML = data[j].id;
              document.getElementById("nom" + j).innerHTML = data[j].name;
              document.getElementById("cerveau" + j).innerHTML = data[j].brain;
              document.getElementById("port" + j).innerHTML = data[j].port;
            
              console.log(data[j].id);
            }
          }
        })
      }

</script>