<!DOCTYPE html>
<html>
<head>
  <title>Services Web</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="header">
  <h1>Selection d'un chatbot </h1>
</div>

<div class="topnav">
  <a href="./user", class = "link" >Revenir aux chatbots</a>
</div>

<div id = liste>

</div>



</body>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>


<script>
  function addbotcard(data,j){
    card = document.createElement("div")
    card.className = 'card';

    div1 = document.createElement("div");
    div1.className = 'customdiv';
    idlabel = document.createElement("label");
    idlabel.innerHTML = "Id : ";
    id = document.createElement("label");
    id.setAttribute("id", "id" + j);
    div1.appendChild(idlabel)
    div1.appendChild(id)
    card.appendChild(div1);

    
    div2 = document.createElement("div");
    div2.className = 'customdiv';
    namelabel = document.createElement("label");
    namelabel.innerHTML = "Name : ";
    botname = document.createElement("label");
    botname.setAttribute("id", "nom" + j);
    div2.appendChild(namelabel)
    div2.appendChild(botname)
    card.appendChild(div2);


    div3 = document.createElement("div");
    div3.className = 'customdiv';
    brainlabel = document.createElement("label");
    brainlabel.innerHTML = "Brains : ";
    brains = document.createElement("label");
    brains.setAttribute("id", "cerveau" + j);
    div3.appendChild(brainlabel)
    div3.appendChild(brains)
    card.appendChild(div3);


    div4 = document.createElement("div");
    div4.className = 'customdiv';
    portlabel = document.createElement("label");
    portlabel.innerHTML = "Port :";
    port = document.createElement("label");
    port.setAttribute("id", "port" + j);
    div4.appendChild(portlabel)
    div4.appendChild(port)
    card.appendChild(div4);

    but1 = document.createElement("button");
    but1.addEventListener ("click", function() {
     console.log("J'AI CLICK SUR LE BOT "+data[j].port);
     window.location = "http://localhost:"+data[j].port; 
    });
    but1.setAttribute("id", "button" + j);
    BUT1 = document.createTextNode('Se connecter à ce bot');
    but1.appendChild(BUT1);
    card.appendChild(but1);

    document.getElementById("liste").appendChild(card);

  }

</script>
  

<script>

  window.onload = function(){
      $.ajax({
          type: 'GET',
          url: '/bot',
          success: (data) => {
            for (var j = 0; j <data.length ; j++){
              addbotcard(data,j);
              console.log(data[j].id);
              document.getElementById("id" + j).innerHTML = data[j].id;
              document.getElementById("nom" + j).innerHTML = data[j].name;
              document.getElementById("cerveau" + j).innerHTML = data[j].brain;
              document.getElementById("port" + j).innerHTML = data[j].port;
            
              console.log(data[j].id);
            }
          }
        })
      }

</script>