<!DOCTYPE html>
<html>
<head>
  <title>Services Web</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="header">
  <h1>Interface de modification et/ou suppression </h1>
</div>

<div class="topnav">
  <a href="./", class = "link" >Afficher les chatbots</a>
  <a href="./add", class = "link">Ajouter un chatbot</a>
  <a href="./change">Modifier / supprimer un chatbot </a> 
</div>

<div class = "card">
  <form action = "/bot" , method = "POST", name = informationbot>
    
    <div>
      <label>Id :</label>
      <select name = 'id' , id = 'id', onchange= "recuperer_attribut_bot()"></select>   <!-- la focntion est appelé chque fois que le champs du select est modifié -->
    </div>

    <div>
      <label>Name :</label>
      <input type="text" id="name" name="name">
    </div>

    <div id= "cerveaux">
      <label>Cerveau :</label>
    </div>

    <div>
      <label>Port :</label>
      <input type="text" id="port" name="port">
    </div>

    <div>
        
        <button class = "modifier">Modifier</button>
        <button class = "supprimer">Supprimer</button>
        
    </div>

    <div>
      <label>Cerveau à ajouter :</label>
      <select id="select_ajouter_nouveau_cerveau", name = "select_ajouter_nouveau_cerveau">
        <option value= ""></option>
      </select>
      <button class = "ajouterCerveau">ajouter le cerveau</button>
      <input type=submit style = "visibility :hidden" disabled >
    </div>
  </form>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="brain.js",type="text/javascript"></script>



<script>
  var format = {};

// action sur les boutons onclick declenchant respectivement la suppression, la modification et l'ajout d'un cerveau 

  $(document).ready(function(){
    $('.supprimer').on("click",function(e){
        e.preventDefault();
        var id = $('#id').val();            //on recupère l'id courant dans le formaulaire
        $.ajax({                            
          type: "DELETE",
          url : "/bot/" + id,               //on effectue un requete DELETE avec cet id en paramètre qui va entrainer la suppression du bot correspondant
          success: (data) => {
            console.log(data);
          },
          error: (err) => {
            console.log(err);
          }
        });

        
      });

    $('.modifier').on("click",function(e){
      e.preventDefault();
      var id = $('#id').val();           //on recupère l'id courant dans le formaulaire
      formater();                        //appel de la fonction formater qui va agréger les données du "formulaire" afin de preparer un json 
      $.ajax({
        type: "PUT",                      //on effectue un requete put avec en objet le json correspondant au bot avec les informations modifiées
        url : "/bot/",                    // qui va entrainer l'enregistrement de ces modifications
        data : JSON.stringify(format),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: (data) => {
          console.log(data);
        },
        error: (err) => {
            console.log(err);
        }
      });      
    });

    $('.ajouterCerveau').on("click",function(e){
      e.preventDefault();
      var id = $('#id').val();     //on recupère l'id courant dans le formaulaire
      $.ajax({                     //on effectue un requete GET avec cet id en paramètre afin de récuperer le json du bot correspondant
        type: 'GET',
        url : "/bot/" + id,
        success: (data) => {
          console.log(data);
          ajouterCerveau(data); // on appelle la fonction ajouterCerveau avec ce json récuperé
        },
        error: err => {
          console.log(err);
        }
      });
    });
  });

  function ajouterCerveau(data){
    var cerveau = data.brain
    var type = typeof cerveau
    
    var cerveau_encours_ajout = document.getElementById("select_ajouter_nouveau_cerveau").value   // on recupere le cerveau qui est prevu à l'ajout
    var ens_cerveau = []                                                                          //va permettre la fusion entre les cerveaux chargés et le nouveau cerveau
    if (cerveau_encours_ajout == undefined){
      console.log('vous devez choisir un nouveau cerveau ! ')       //si le select n'est pas rempli ..
    }
    else{
      if(type =="string"){                                          //correspond au cas ou un seul cerveau est chargé 
        if(cerveau == cerveau_encours_ajout){                         //si on souhaite ajouter un cerveau déja chargé ...
          console.log('ce cerveau est déja chargé ! ')
        }
        else{
        ens_cerveau.push(cerveau_encours_ajout);                    //sinon on recupere le cerveau que l'on veut ajouter 
        ens_cerveau.push(brain);}                                   //puis celui deja chargé
      }
      else{                                                         //sinon plusieurs cerveaux sont déja chargés
        if(cerveau.includes(cerveau_encours_ajout)){                 //si on souhaite ajouter un cerveau déja chargé ...
          console.log('ce cerveau est déja chargé !')
        }
        else{
        cerveau.push(cerveau_encours_ajout);                        //sinon on ajoute le nouveau cerveau a la liste de ceux deja enregister
        ens_cerveau= cerveau;}
      }

    if(ens_cerveau.length > 1){                                     //si jamais nous sommes tombé dans un des cas d'erreur , on ne touche pas a data.brain (length = 0 signifie que ens_cerveau n'a pas ete modifié)
    data.brain = ens_cerveau;}

    $.ajax({
      type: 'PUT',
      url: '/bot/',                                                //enfin on effectue une requete PUT afin d'enregistrer la modification 
      data : JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: (data) =>{
        
        console.log(data);},
      error: (err) => {
        console.log(err);
      }
    })
  }
}





  var div = document.getElementById('cerveaux');
  var liste = document.getElementById('liste');

  //affichage du nom dans le "formulaire"

  function remplir_nom(nom){
    document.forms.informationbot.name.value = nom
  }

  //affichage du pport dans le "formulaire"

  function remplir_port(port){
    document.forms.informationbot.port.value = port
  }

  //affichage du/des cerveaux

  function remplir_cerveau(cerveau){
    var type = typeof cerveau;

    try{div.removeChild(divlist)}
    catch(e){                                                           //  permet de gerer le changementr des cerveaux lors du onchange de la rubrique id, 
      console.log("An error occured : "+ e);}                           // ainsi les anciens cerveaux affichés sont detruit pour pouvoir laisser la place à ceux du nouvel id considéré

    divlist = document.createElement("div");
    divlist.setAttribute("id", "divlist");  

    if(type=="string"){
      nom_cerveau = document.createElement("input");
      nom_cerveau.type = "text"                                          // si un seul cerveau
      nom_cerveau.name = "nom_cerveau"
      nom_cerveau.disabled = true
      nom_cerveau.value = cerveau
      
      divlist.appendChild(nom_cerveau)
    }
    else{
        
        for(var i=0; i<cerveau.length; i++){
          nom_cerveau = document.createElement("input");
          nom_cerveau.type = "text"                                     //si il y a une liste de cerveau
          nom_cerveau.name = "nom_cerveau"
          nom_cerveau.disabled = true
          nom_cerveau.value = cerveau[i]
          
          divlist.appendChild(nom_cerveau)
        }
      }
    div.appendChild(divlist);
    };


  //remplit les options du menu deroulant des id 

  function optionid(id){
    document.forms.informationbot.id.options[document.forms.informationbot.id.options.length] = new Option(id,id);
  }

  //remplit les options du menu deroulant des cerveaux pour l'ajout d'un nouveau cerveau

  function optioncerveau(value,nom){
   
    document.forms.informationbot.select_ajouter_nouveau_cerveau.options[document.forms.informationbot.select_ajouter_nouveau_cerveau.options.length]=new Option(value,nom);
    };


  // fonction appellée lors du onchange ligne 24

  function recuperer_attribut_bot(){          
    var id = $("#id").val();
    $.ajax({
      type: "GET",  
      url: "/bot/" + id,                      //Requete GET afin de récupérer le json correpondnat à l'id 
      success : (data) => {

        remplir_nom(data["name"]);            // puis affichage des differents attributs 
        remplir_port(data["port"]);
        remplir_cerveau(data["brain"]);
      },
      error: (err) => {
        console.log(err);
      }
    });
   
  };

  //recupere les données rentrées dans les differents champs afin de produire un objet json correspondant à celles co 

  function formater(){
    var tabcerveau = [];
    format.id = parseInt(document.getElementById("id").value);
    format.name = document.getElementById("name").value;
    format.brain = "";                                                  //extraction des donnees
    format.port = parseInt(document.getElementById("port").value);

    var cerveaux = document.getElementsByName("nom_cerveau");

    for (var i=0; i<cerveaux.length;i++){
      script = cerveaux[i].value                                        //traitement plus spécifique pour les cerveaux 
      tabcerveau.push(script);
      }
    format.brain =tabcerveau;  
  };



 

  


//affichage au chargement de la page 
 
  window.onload = function(){
    $.ajax({
        type: 'GET',
        url: '/bot',
        success: (data) => {
            for (var i=0; i<data.length; i++) {
                   optionid(data[i]["id"]);
                   recuperer_attribut_bot()
            };
        },
        error: (err) => {
            console.log(err);
        }
        })

    for (var i=0; i<Brain.length; i++) {
        optioncerveau(Brain[i]["name"],Brain[i]["brain"]);

    };
}


 

</script>