<!DOCTYPE html>
<html>
<head>
  <title>Services Web</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="header">
  <h1>Interface de modification et/ou suppression </h1>
</div>

<div class="topnav">
  <a href="./", class = "link" >Afficher les chatbots</a>
  <a href="./add", class = "link">Ajouter un chatbot</a>
  <a href="./change">Modifier / supprimer un chatbot </a> 
</div>

<div class = "card">
  <form action = "/bot" , method = "POST", name = informationbot>
    
    <div>
      <label>Id :</label>
      <select name = 'id' , id = 'id', onchange= "recuperer_attribut_bot()"></select>
    </div>

    <div>
      <label>Name :</label>
      <input type="text" id="name" name="name">
    </div>

    <div id= "cerveaux">
      <label>Cerveau :</label>
    </div>

    <div>
      <label>Port :</label>
      <input type="text" id="port" name="port">
    </div>

    <div>
        
        <button class = "modifier">Modifier</button>
        <button class = "supprimer">Supprimer</button>
        
    </div>

    <div>
      <label>Cerveau à ajouter :</label>
      <select id="select_ajouter_nouveau_cerveau", name = "select_ajouter_nouveau_cerveau">
        <option value= ""></option>
      </select>
      <button class = "ajouterCerveau">ajouter le cerveau</button>
      <input type=submit style = "visibility :hidden" disabled >
    </div>
  </form>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="brain.js",type="text/javascript"></script>



<script>
  var format = {};

// action sur les boutons onclick

  $(document).ready(function(){
    $('.supprimer').on("click",function(e){
        e.preventDefault();
        var id = $('#id').val();
        $.ajax({
          type: "DELETE",
          url : "/bot/" + id,
          success: (data) => {
            console.log(data);
          },
          error: (err) => {
            console.log(err);
          }
        });

        
      });

    $('.modifier').on("click",function(e){
      e.preventDefault();
      var id = $('#id').val();
      formater();
      $.ajax({
        type: "PUT",
        url : "/bot/",
        data : JSON.stringify(format),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: (data) => {
          console.log(data);
        },
        error: (err) => {
            console.log(err);
        }
      });      
    });

    $('.ajouterCerveau').on("click",function(e){
      e.preventDefault();
      var id = $('#id').val();
      $.ajax({
        type: 'GET',
        url : "/bot/" + id,
        success: (data) => {
          console.log(data);
          ajouterCerveau(data);
        },
        error: err => {
          console.log(err);
        }
      });
    });
  });

  function ajouterCerveau(data){
    var cerveau = data.brain
    var type = typeof cerveau
    
    var cerveau_encours_ajout = document.getElementById("select_ajouter_nouveau_cerveau").value
    var ens_cerveau = []
    if (cerveau_encours_ajout == undefined){
      console.log('vous devez choisir un nouveau cerveau ! ')
    }
    else{
      if(type =="string"){
        if(brain == cerveau_encours_ajout){
          console.log('ce cerveau est déja chargé ! ')
        }
        else{
        ens_cerveau.push(cerveau_encours_ajout);
        ens_cerveau.push(brain);}
      }
      else{
        if(brain.includes(cerveau_encours_ajout)){
          console.log('ce cerveau est déja chargé !')
        }
        else{
        brain.push(cerveau_encours_ajout);
        ens_cerveau= brain;}
      }
    if(ens_cerveau != []){
    data.brain = ens_cerveau;}

    $.ajax({
      type: 'PUT',
      url: '/bot/',
      data : JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: (data) =>{
        
        console.log(data);},
      error: (err) => {
        console.log(err);
      }
    })
  }
}





  var div = document.getElementById('cerveaux');
  var liste = document.getElementById('liste');

  //affichage du nom

  function remplir_nom(nom){
    document.forms.informationbot.name.value = nom
  }

  //affichage port

  function remplir_port(port){
    document.forms.informationbot.port.value = port
  }

  //affichage du/des cerveaux

  function remplir_cerveau(cerveau){
    var type = typeof cerveau;

    try{div.removeChild(divlist)}
    catch(e){
      console.log("An error occured : "+ e);}

    divlist = document.createElement("div");
    divlist.setAttribute("id", "divlist");  

    if(type=="string"){
      nom_cerveau = document.createElement("input");
      nom_cerveau.type = "text"
      nom_cerveau.name = "nom_cerveau"
      nom_cerveau.disabled = true
      nom_cerveau.value = cerveau
      
      divlist.appendChild(nom_cerveau)
    }
    else{
        
        for(var i=0; i<cerveau.length; i++){
          nom_cerveau = document.createElement("input");
          nom_cerveau.type = "text"
          nom_cerveau.name = "nom_cerveau"
          nom_cerveau.disabled = true
          nom_cerveau.value = cerveau[i]
          
          divlist.appendChild(nom_cerveau)
        }
      }
    div.appendChild(divlist);
    };


  //remplit le menu deroulant des id 

  function optionid(id){
    document.forms.informationbot.id.options[document.forms.informationbot.id.options.length] = new Option(id,id);
  }

  //remplit le menu deroulant des cerveaux pour l'ajout

  function optioncerveau(value,nom){
   
    document.forms.informationbot.select_ajouter_nouveau_cerveau.options[document.forms.informationbot.select_ajouter_nouveau_cerveau.options.length]=new Option(value,nom);
    };


  // recupere les données du bot et les affiche

  function recuperer_attribut_bot(){
    var id = $("#id").val();
    $.ajax({
      type: "GET",
      url: "/bot/" + id,
      success : (data) => {

        remplir_nom(data["name"]);
        remplir_port(data["port"]);
        remplir_cerveau(data["brain"]);
      },
      error: (err) => {
        console.log(err);
      }
    });
   
  };

  //recupere les données rentrées dans les differents champs

  function formater(){
    var tabcerveau = [];
    format.id = parseInt(document.getElementById("id").value);
    format.name = document.getElementById("name").value;
    format.brain = "";
    format.port = parseInt(document.getElementById("port").value);

    var cerveaux = document.getElementsByName("nom_cerveau");

    for (var i=0; i<cerveaux.length;i++){
      script = cerveaux[i].value
      tabcerveau.push(script);
      }
    format.brain =tabcerveau;  
  };



  // remplit des menu deroulants des cerveaux chargés (pour le bon deroulement de la modification)

  


//affichage au chargement de la page 
 
  window.onload = function(){
    $.ajax({
        type: 'GET',
        url: '/bot',
        success: (data) => {
            for (var i=0; i<data.length; i++) {
                   optionid(data[i]["id"]);
                   recuperer_attribut_bot()
            };
        },
        error: (err) => {
            console.log(err);
        }
        })

    for (var i=0; i<Brain.length; i++) {
        optioncerveau(Brain[i]["name"],Brain[i]["brain"]);

    };
}


 

</script>